body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 3.22;
  color: var(--main-white-color);
  overflow-x: hidden;
}

button {
  font-family: 'PT Serif', serif;
  outline: none;
}

a {
  outline: none;
}
